kind: Template
apiVersion: v1
metadata:
  name: mongo-template
objects:
  - kind: Secret
    apiVersion: v1
    type: Opaque
    data:
      database-admin-password: b1U2UFJwTE5rTEdVdzBWSg==
      database-name: c2FtcGxlZGI=
      database-password: eGFxRHl4TlVnUDJKT0xRQw==
      database-user: dXNlck5OUA==
    metadata:
      annotations:
        template.openshift.io/expose-admin_password: '{.data[''database-admin-password'']}'
        template.openshift.io/expose-database_name: '{.data[''database-name'']}'
        template.openshift.io/expose-password: '{.data[''database-password'']}'
        template.openshift.io/expose-username: '{.data[''database-user'']}'
      labels:
        app: mongodb-persistent
        template: mongodb-persistent-template
      name: mongodb
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: mongodb
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi
      volumeName: pv0055
  - kind: DeploymentConfig
    apiVersion: apps.openshift.io/v1
    metadata:
      annotations:
        template.alpha.openshift.io/wait-for-ready: 'true'
      labels:
        app: mongodb-persistent
        template: mongodb-persistent-template
      name: mongodb
    spec:
      replicas: 1
      selector:
        name: mongodb
      strategy:
        activeDeadlineSeconds: 21600
        recreateParams:
          timeoutSeconds: 600
        resources: {}
        type: Recreate
      template:
        metadata:
          labels:
            name: mongodb
        spec:
          containers:
            - env:
              - name: MONGODB_USER
                valueFrom:
                  secretKeyRef:
                    key: database-user
                    name: mongodb
              - name: MONGODB_PASSWORD
                valueFrom:
                  secretKeyRef:
                    key: database-password
                    name: mongodb
              - name: MONGODB_ADMIN_PASSWORD
                valueFrom:
                  secretKeyRef:
                    key: database-admin-password
                    name: mongodb
              - name: MONGODB_DATABASE
                valueFrom:
                  secretKeyRef:
                    key: database-name
                    name: mongodb
              image: >-
                docker.io/centos/mongodb-32-centos7@sha256:be71add70a0f5b3b86a68409fc4844233452d75d730a89424b9f5e8bf57a402f
              imagePullPolicy: IfNotPresent
              livenessProbe:
                failureThreshold: 3
                initialDelaySeconds: 30
                periodSeconds: 10
                successThreshold: 1
                tcpSocket:
                  port: 27017
                timeoutSeconds: 1
              name: mongodb
              ports:
                - containerPort: 27017
                  protocol: TCP
              readinessProbe:
                exec:
                  command:
                    - /bin/sh
                    - '-i'
                    - '-c'
                    - >-
                      mongo 127.0.0.1:27017/$MONGODB_DATABASE -u $MONGODB_USER -p
                      $MONGODB_PASSWORD --eval="quit()"
                failureThreshold: 3
                initialDelaySeconds: 3
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 1
              resources:
                limits:
                  memory: 512Mi
              securityContext:
                capabilities: {}
                privileged: false
              terminationMessagePath: /dev/termination-log
              terminationMessagePolicy: File
              volumeMounts:
                - mountPath: /var/lib/mongodb/data
                  name: mongodb-data
          dnsPolicy: ClusterFirst
          restartPolicy: Always
          schedulerName: default-scheduler
          securityContext: {}
          terminationGracePeriodSeconds: 30
          volumes:
            - name: mongodb-data
              persistentVolumeClaim:
                claimName: mongodb
      test: false
      triggers:
        - imageChangeParams:
            automatic: true
            containerNames:
              - mongodb
            from:
              kind: ImageStreamTag
              name: 'mongodb:3.2'
              namespace: openshift
            lastTriggeredImage: >-
              docker.io/centos/mongodb-32-centos7@sha256:be71add70a0f5b3b86a68409fc4844233452d75d730a89424b9f5e8bf57a402f
          type: ImageChange
        - type: ConfigChange
  - apiVersion: v1
    kind: Service
    metadata:
      annotations:
        template.openshift.io/expose-uri: mongodb://{.spec.clusterIP}:{.spec.ports[?(.name=="mongo")].port}
      labels:
        app: mongodb-persistent
        template: mongodb-persistent-template
      name: mongodb
    spec:
      ports:
      - name: mongo
        port: 27017
        protocol: TCP
        targetPort: 27017
      selector:
        name: mongodb
      sessionAffinity: None
      type: ClusterIP
    status:
      loadBalancer: {}